/*This stylesheet contains some custom class rather than Bootstrap*/
		
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
.profile, .skills, .work, .resume {
	padding:30px 0;
}
.profile h2, .skills h2, .work h2, .resume h2 {
	font-weight:normal;
	color: #39D084;
}
/***** Profile *****/
	.profile h1 {
	color:#39d084;
	font-weight: normal;
}
.profile h3 {
	color:#fff;
	font-weight: normal;
}
.profile p {
	color:#fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
.qq
{
color:#fff;
	font-size:12px;
	line-height: 3px;
	margin-top: 1px;	
}
.profile .container .span5 {
	padding:40px 0;
}
a.hire-me {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.hire-me:hover {
	text-decoration:none;
	background:#11d170;
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}
/***** Skills *****/
.skills .span3 {
	width:235px;
	overflow: hidden;
}
.skills .span5 {
	text-align:left;
	padding:47px 0;
}
.skills .ps, .skills .ai, .skills .html, .skills .css {
	padding:25px;
	width:100px;
	height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	border:8px solid #203748;
	float:right;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.skills .ps {
	background:#30a5dc;
}
.skills .ai {
	background:#ee742b;
}
.skills .html {
	background:#f04949;
}
.skills .css {
	background:#39d084;
}
.skills .ps:hover, .skills .ai:hover, .skills .html:hover, .skills .css:hover {
	border:8px solid #fff;
}
.skills .ps h3, .skills .ai h3, .skills .html h3, .skills .css h3 {
	color:#fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
.skills .html h3, .skills .css h3 {
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
.skills .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
.skills .span5 h3 span {
	float:right;
}
.ps2 {
	width:90%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.ai2 {
	width:80%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.html2 {
	width:75%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.css2 {
	width:85%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes ai2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes html2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes css2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes ai {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes html {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes css {
0% {
width:0px;
}
100% {
width:85%;
}
}
/**** Work container *****/
ul.work-images li {
	list-style:none;
	display:inline-block;
	margin: 8px 10px;
 background:
}
ul.work-images li:first-child {
	margin-left:0;
}
ul.work-images li div {
	background:url(../img/eye.png) 50% 50% no-repeat;
	background-color: #f04949;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img:hover {
	opacity:0.1;
}
/***** Resume container *****/
.resume h3 {
	margin:60px 0;
}
.resume .btn-center {
	text-align:center;
}
.footer {
	background:#355267;
	position: fixed;
	width: 100%;
	bottom:0;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;	
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}
.mobile-row
{
	background-image: linear-gradient(to bottom, #5E5959, #211F1F);margin-left: 0;margin-top: 0px;
}
#case {height: 560px; width: 277px; border-radius: 40px 40px; border: 1px solid #000; margin: auto;  /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
#earsection {margin-top: 36px; margin-left: 72px; height: 16px;}
#camera {float: left; width: 16px; height: 16px; border: 1px solid #666; border-radius: 9px 9px;}
#speaker {float: left; width: 54px; height: 5px; margin-left: 15px; border: 1px solid #666; border-radius: 7px 7px;}
#app_drop {clear: both; width: 250px; height: 374px; margin: auto; margin-top: 35px; border: 1px solid #666;background: rgb(92, 78, 78)}
#button {height: 56px; width: 56px; border: 1px solid #666; border-radius: 28px 28px; margin: auto; margin-top: 22px;
background: -webkit-linear-gradient(left, rgb(240, 228, 228) , rgb(138, 138, 138));
background: -o-linear-gradient(right, rgb(240, 228, 228) , rgb(138, 138, 138)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(240, 228, 228) , rgb(138, 138, 138)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(240, 228, 228) , rgb(138, 138, 138)); /* Standard syntax (must be last) */
}

#buttonsquare {height: 17px; width: 17px; border: 1px solid #666; border-radius: 5px; margin: auto; margin-top: 18px; }

#ssslidebar:hover
{
	-webkit-transform:translateX(-200px);
	transform:translateX(-200px);
	transition: all 3s;
/*browser specific versions*/
-moz-transition: all 3s;
-ms-transition: all 3s;
-webkit-transition: all 3s;
-o-transition: all 5s;
}
#ssslidebar
{
-webkit-transform:translateX(0px);
	transform:translateX(	0px);
	transition: all 3s;
/*browser specific versions*/
-moz-transition: all 3s;
-ms-transition: all 3s;
-webkit-transition: all 3s;
-o-transition: all 3s;	
}
.icon-text
{
	font-size: 11px;
font-weight: bolder;
text-align: center;
}
.curve
{
	border-radius: 9px;
}